body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Billabong2";
  src: local("Billabong"), url(./fonts/Billabong.ttf) format("truetype");
}

@font-face {
  font-family: "LeftistMonoSerif";
  src: local("LeftistMonoSerif"),
    url(./fonts/LeftistMonoSerif.ttf) format("truetype");
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
